html
  head
    title Discovery Player List
    script(src="scripts/sorttable.js")
  body
    h1 Discovery Player List
    table.sortable
      thead
        tr
          td Player Name
          td System
          td Ping
          td Time online
      tbody
        -
        each item in players
          tr
            td= item.name
            td= item.system
            td= item.ping
            td= item.ta

    footer
      p By MrHudson / Corile
